@model GAPS.TSC.Consillium.Models.CallsViewModel
@{
    ViewBag.Title = "Calls";
}

<h2>Calls</h2>
<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Payments to be made to Experts
        </h3>
    </div>
</div>
@Html.Partial("_PartialMessage")
<hr />
<div class="row">
    <div class="well" style="height: 386px">
    <div class="col-md-12">
        @using (@Html.BeginForm("Calls", "Requests", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.ExpertRequestId)
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Expert Name</b></label><br>
                    @Html.DropDownListFor(x => x.ExpertId, new SelectList(Model.ExpertList, "Key", "Value"), "Select Expert", new { @class = "form-control", @data_placeholder = "Choose Expert" })
                    @Html.ValidationMessageFor(x => x.ExpertId)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Nature Of Interview</b></label>
                    @Html.DropDownListFor(x => x.CallType, new SelectList(Model.CallTypeOptions, "Key", "Value", Model.CallTypeOptions.FirstOrDefault()), new { @class = "form-control", @data_placeholder = "Choose Cost" })
                    @Html.ValidationMessageFor(x => x.CallType)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Interview Date</b></label>
                    @Html.TextBoxFor(x => x.InterviewDate, new { @class = "form-control datetime", Value = "" })
                    @Html.ValidationMessageFor(x => x.InterviewDate)
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Call Duration(In minutes)</b></label><br>
                    @Html.TextBoxFor(x => x.CallDuration, new { @class = "form-control ", Value = "" })
                    @Html.ValidationMessageFor(x => x.CallDuration)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Honorarium Per Hour</b></label>
                    @Html.TextBoxFor(x => x.FeesPerHour, new { @class = "form-control ", Value = "" })
                    @Html.ValidationMessageFor(x => x.FeesPerHour)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Payment Mode</b></label>
                    @Html.DropDownListFor(x => x.PaymentModeId, new SelectList(Model.PaymentModeDictionary, "Key", "Value"), new { @class = "form-control", @data_placeholder = "Choose PaymentMode" })
                    @Html.ValidationMessageFor(x => x.PaymentModeId)
                    @*@Html.DropDownListFor(x => x.PaymentModeId, new SelectList(new[] { new { Value = "1", Text = "Cash" }, new { Value = "2", Text = "Cheque" }, new { Value = "3", Text = "DD" } }, "Value", "Text", Model), "Select", new { @class = "form-control" })*@
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Cost Borne By</b></label><br>
                    @Html.DropDownListFor(x => x.CostBorneBy, new SelectList(Model.CostSharingOptions, "Key", "Value", Model.CostSharingOptions.FirstOrDefault()), new { @class = "form-control", @data_placeholder = "Choose Cost" })
                    @Html.ValidationMessageFor(x => x.CostBorneBy)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Call Facilitated By</b></label>
                    @Html.DropDownListFor(x => x.CallFacilitatedById, new SelectList(Model.TeamMembers, "Key", "Value"), new { @class = "form-control", @data_placeholder = "Choose Member" })
                    @Html.ValidationMessageFor(x => x.CallFacilitatedById)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Payment Details</b></label>
                    @Html.TextBoxFor(x => x.Details, new { @class = "form-control ", Value = "" })
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Geography</b></label><br>
                    @Html.DropDownListFor(x => x.GeographicId, new SelectList(Model.Geography, "Key", "Value"), new { @class = "form-control", @data_placeholder = "Choose Expert" })
                    @Html.ValidationMessageFor(x => x.GeographicId)
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label><b>Amount to be paid</b></label>
                    @Html.TextBoxFor(x => x.Amount, new { @class = "form-control ", Value = "" })
                    @Html.ValidationMessageFor(x => x.Amount)
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div style="padding-top: 7px"></div>
                    <br>
                    @Html.DropDownListFor(x => x.AmountCurrencyId, new SelectList(Model.Currency, "Key", "Value"), new { @class = "form-control", @data_placeholder = "Choose Currency" })
                    @Html.ValidationMessageFor(x => x.AmountCurrencyId)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Payment Status</b></label>
                    @Html.DropDownListFor(x => x.PaymentStatus, new SelectList(Model.PaymentStatusOptions, "Key", "Value", Model.PaymentStatusOptions.FirstOrDefault()), new { @class = "form-control", @data_placeholder = "Choose Cost" })
                    @Html.ValidationMessageFor(x => x.PaymentStatus)
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <div></div>
                    <br />
                    <input type="submit" value="save" class="btn btn-primary" style="width: 109px; margin-top: 7px;">
                </div>
            </div>
        }
    </div>
    
</div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <tbody>
                        <tr>
                            <th><label>S.No.</label></th>
                            <th><label>Expert Name</label></th>
                            <th><label>Nature Of Interview</label></th>
                            <th><label>Interview Date</label></th>
                            <th><label>Call Duration</label></th>
                            <th><label>Honorarium per Hour</label></th>
                            <th><label>Payment Mode</label></th>
                            <th><label>Cost Corne By</label></th>
                            <th><label>Call Facilitated By</label></th>
                            <th><label>Payment Details</label></th>
                            <th><label></label></th>
                        </tr>
                        @{ var count = (int)1; }
                        @foreach (var expert in Model.ExpertCalls)
                        {
                            <tr class="">
                                <td>@count</td>
                                <td>@expert.ExpertName</td>
                                <td>@expert.CallType</td>
                                <td>@expert.InterviewDate.ToString("dd/MM/yyyy")</td>
                                <td>@expert.CallDuration</td>
                                <td>@expert.FeesPerHour</td>
                                <td>
                                    @if (expert.PaymentModeId != 0 && Model.PaymentModeDictionary.ContainsKey(expert.PaymentModeId))
                                    {
                                        @Model.PaymentModeDictionary[expert.PaymentModeId]
                                    }
                                </td>
                                <td>@expert.CostBorneBy</td>
                                <td>
                                    @if (expert.CallFacilitatedById != 0 && Model.TeamMembers.ContainsKey(expert.CallFacilitatedById))
                                    {
                                        @Model.TeamMembers[expert.CallFacilitatedById]
                                    }
                                </td>
                                <td>@expert.Details</td>
                                <td><input type="submit" class="btn btn-default" value="InitiatePayment" /></td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-6">
            @using (@Html.BeginForm("ExportCallDetails", "Requests", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.ExpertRequestId)
                <div class="col-md-3">
                    <div class="form-group">
                        <div style="padding-top: 9px"></div>
                        <br />
                        <input type="submit" class="btn btn-primary" value="Export to Excel" style="width: 99px;"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div style="padding-top: 9px"></div>
                        <br />
                        <input type="submit" class="btn btn-primary btn-sm" value="Save" style="width: 128px;" />
                    </div>
                </div>
            }
        </div>

    </div>

</div>
@section scripts{

    <script type="text/javascript">
        $(function () {




            $("#ExpertId").change(function () {
                var expertId = $("#ExpertId").val();
                var expertReqId = $("#ExpertRequestId").val();
                if (expertId != "") {

                    $.getJSON("/Requests/GetHonorarium/", { expertReqId: expertReqId, expertId: expertId }, function (data) {
                        $("#FeesPerHour").val(data.FeesAmount);
                        if (data.FeesCurrencyId != null) {
                            $('#AmountCurrencyId option')
                                .filter(function () { return $.trim($(this).val()) == data.FeesCurrencyId; })
                                .attr('selected', true);
                        }
                    });
                }

            });


        });

    </script>
}
