@using Microsoft.Ajax.Utilities
@using RestSharp.Extensions
@model GAPS.TSC.Consillium.Models.ExpertRequestDashboardViewModel
@{
    ViewBag.Title = "index";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Expert Requisition Dashboard
        </h3>
    </div>
</div>
<hr />

<div class="row well">
    <div class="col-md-12">
        @using (@Html.BeginForm("Index", "Requests", FormMethod.Get))
        {

            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Project Lead</b></label><br>

                    @Html.DropDownListFor(x => x.ProjectLeadId, new SelectList(Model.ProjectLeadList, "Key", "Value"), "All", new { @class = "form-control", @data_placeholder = "Choose Status" })

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Status</b></label>
                    @Html.DropDownListFor(x => x.Status, new SelectList(Model.StatusOptions, "Key", "Value"), "All", new { @class = "form-control", @data_placeholder = "Choose Status" })

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Assigned To</b></label>
                    @Html.DropDownListFor(x => x.Assigned, new SelectList(Model.AssignedList, "Key", "Value"), "All", new { @class = "form-control ", @data_placeholder = "Choose Assigned to" })

                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Client</b></label><br>
                    @Html.DropDownListFor(x => x.ClientName, new SelectList(Model.ClientList, "Key", "Value"), "All", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Projects</b></label>

                    @Html.DropDownListFor(x => x.ProjectName, new SelectList(Model.ProjectList, "Key", "Value"), "All", new { @class = "form-control", @data_placeholder = "Choose Status" })

                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>From</label>
                    @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control date", Value = "" })

                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">

                    <label>To</label>
                    @Html.TextBoxFor(x => x.EndDate, new { @class = "form-control date", Value = "" })


                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-9">
                        <label><b>Search</b></label>

                        @Html.TextBoxFor(x => x.SearchString, new { @class = "form-control ", Value = "" })
                    </div>
                    <div class="col-md-2">
                        <label><b>Filter</b></label>
                        <input type="submit" class="btn btn-primary" value="Go" />
                    </div>
                </div>
            </div>

        }
    </div>

</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive table-bordered">
            <table class="table">
                <tbody>
                    <tr>
                        <th><label>Project Name</label></th>
                        <th><label>Client</label></th>
                        <th><label>Project Lead</label></th>
                        <th><label>Status</label></th>
                        <th><label>Calls</label></th>
                        <th><label>Assigned To</label></th>
                        <th><label>Request Date</label></th>
                        <th><label>Start Date</label></th>
                        <th><label>End Date</label></th>
                    </tr>


                    @foreach (var expertRequest in Model.ExpertRequests)
                    {
                        var isProjectId = string.Format("row-projectid-{0}", expertRequest.ProjectId);
                        <tr class="@isProjectId">
                            <td><a href="@Url.Action("ProjectDetail", new { id=expertRequest.Id})"> @expertRequest.ProjectName</a></td>

                            <td> @expertRequest.ClientName</td>

                            <td>
                                @if (expertRequest.ProjectLeadId != null && Model.ProjectLeadList.ContainsKey(expertRequest.ProjectLeadId.Value))
                                {
                                    @Model.ProjectLeadList[expertRequest.ProjectLeadId.Value]
                                }
                            </td>

                            <td> @expertRequest.RequestStatus</td>
                            <td> <a href="">@expertRequest.CallCount</a></td>


                            <td> <a onclick="EditAssignTo('@expertRequest.Id') " title="Edit" style="cursor: pointer; text-decoration: none"><i class="fa fa-pencil">@expertRequest.AssignedNames</i> </a></td>





                            <td>

                                @expertRequest.CreatedAt.ToString("dd/MM/yyyy")


                            </td>
                            <td>
                                @if (expertRequest.StartDate != null)
                                {
                                    @expertRequest.StartDate.GetValueOrDefault().ToString("dd/MM/yyyy")
                                }

                            </td>
                            <td>
                                @if (expertRequest.EndDate != null)
                                {
                                    @expertRequest.EndDate.GetValueOrDefault().ToString("dd/MM/yyyy")
                                }

                            </td>


                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>




<div class="modal fade" id="edit-assign-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Edit Assign To</h4>
            </div>
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@section scripts
{


    <script type="text/javascript">

        function EditAssignTo(expertRequestId) {
            $.post('/Requests/EditAssignTo', { id: expertRequestId },
                function (data) {
                    $('#edit-assign-modal').find('.modal-body').html(data);
                    $.validator.unobtrusive.parse(document);
                });
            $('#edit-assign-modal').modal();

        }
        $(document).ready(function () {
            $(".chosen-select").chosen();
            $("#ClientId").change(function () {
                if ($("#ClientId").val() > 0) {
                    $.getJSON("/Requests/GetClientProjects/" + $("#ClientId").val(), function (data) {
                        var items = "<option value = '0'>All</option>";
                        $.each(data, function (i, item) {
                            items += "<option value='" + item.Id + "'>" + item.ProjectName + "</option>";
                        });
                        $("#ProjectId").html(items);
                    });
                } else {
                    var items = "<option value = '0'>All</option>";
                    $("#ProjectId").html(items);

                }
            });
        });


    </script>
}
<style>
    tr.row-projectid- {
        background-color: #FAFACC !important;
    }
</style>