@using System.Threading
@model GAPS.TSC.Consillium.Models.ProjectDetailViewModel
@{
    ViewBag.Title = "Projects";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Projects
        </h3>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">

        <div class="col-md-9">
            <div class="jumbotron">
                <div class="row">

                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label><b>Project Name</b></label>
                                @Html.DisplayFor(model => model.ProjectName)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Client: </label>
                                @Html.DisplayFor(model => model.ClientName)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>B.D.Lead: </label>
                                @Html.DisplayFor(model => model.BdLeadName)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Reopening Date: </label>
                                @Html.DisplayFor(model => model.RestartDate)

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Project Lead: </label>
                                @Html.DisplayFor(model => model.ProjectLeadName)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Geography:</label>
                                @Html.DisplayFor(model => model.Geography)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cost borne by: </label>
                                @Html.DisplayFor(model => model.CostSharingType)

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Allocated Budget:</label>
                                @Html.DisplayFor(model => model.AllocatedBudget)
                                @Html.DisplayFor(model => model.BudgetCurrencyName)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Start Date: </label>
                                @Html.DisplayFor(model => model.StartDate)

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>End Date:</label>
                                @Html.DisplayFor(model => model.EndDate)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>No. Of Paid Calls: </label>
                                staticdata(lakshdeep sir)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>First Recruit:</label>
                                staticdata(lakshdeep sir)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Requested Date: </label>
                                @Html.DisplayFor(model => model.RequestedDate)

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Industry:</label>
                                @Html.DisplayFor(model => model.Industry)
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Description:</label>

                                @Html.DisplayFor(model => model.Description)

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <input type="submit" class="btn btn-primary" value="Update" style="width: 99px;" onclick="location.href='@Url.Action("UpdateRequest", "Requests", new { id = Model.Id })' " />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @using (@Html.BeginForm("ProjectDetail", "Requests", FormMethod.Post))
        {
            <div class="col-md-3">
                <div class="jumbotron" style="padding: 15px;">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label><b>Notes</b></label>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">


                                @Html.TextAreaFor(model => model.Comments, new
                           {
                               @class = "form-control",
                               value = @Model.Comments,
                               maxlength = 50,
                               style = "width: 200px; height: 100px;"
                           })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Save" style="width: 99px;" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
        <div class="clearfix"></div>
        @using (@Html.BeginForm("ProjectDetailButton", "Requests", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id)
            <div class="col-md-10">
                <div class="col-md-2">
                    <div class="form-group">
                        <div style="padding-top: 9px"></div><br />
                        @Html.ListBoxFor(x => x.ExpertIds, new SelectList(Model.ExpertList, "Key", "Value"), new { @class = "form-control chosen-select", multiple = "multiple", @data_placeholder = "All" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div style="padding-top: 9px"></div><br />
                        <input type="submit" class="btn btn-primary btn-sm" value="Add Expert/Lead" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div style="padding-top: 9px"></div><br />
                        <input type="button" class="btn btn-primary btn-sm" value="Export To Excel" style="padding-left: 11px; margin-left: 11px;" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <div style="padding-top: 9px"></div><br />
                        <input type="button" class="btn btn-primary btn-sm" value="Import From Excel" style="padding-left: 11px; margin-left: -39px;" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <div style="padding-top: 9px"></div><br />
                        <input type="text" class="form-control" id="Effort" placeholder="Effort" style="margin-left: 32px;">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <div style="padding-top: 9px"></div><br />
                        <input type="button" class="btn btn-primary btn-sm" value="Paid Experts" style="margin-left: 13px; padding-top: 8px;" />
                    </div>
                </div>

            </div>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-9">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <tbody>
                        <tr>
                            <th><label>S.No.</label></th>
                            <th><label>Name</label></th>
                            <th><label>Designation</label></th>
                            <th><label>Company</label></th>
                            <th><label>Lead Status</label></th>
                            <th><label>Email ID</label></th>
                            <th><label>Contact Number</label></th>
                            <th><label>Region</label></th>
                        </tr>
                        @{
                            int i = 0;
                        }
                        @foreach (var expert in Model.Experts)
                        {

                            <tr>
                                <td>@i</td>
                                <td>@expert.Name</td>
                                <td>@Model.ToAddDesignations.ElementAtOrDefault(i)</td>
                                <td>@Model.ToAddOrganisations.ElementAtOrDefault(i) </td>
                                <td>@expert.LeadStatus</td>
                                <td>@expert.Email</td>
                                <td>@expert.PrimaryContact</td>

                                <td>@Model.ToAddRegions.ElementAtOrDefault(i)</td>
                                <td>
                                                                     

                                   
                                  @Html.ActionLink("Delete Expert", "DeleteExpert", new { requestId = Model.Id, expertId = expert.Id }, new { @class = "button delete_recipient" }) 
                                </td>
                            </tr>
                                    i++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $(".chosen-select").chosen();



        });


    </script>
}

