@model GAPS.TSC.Consillium.Models.RequestExpertEn
@{
    ViewBag.Title = "RequestExpertEn";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Request Expert (For EN Projects)
        </h3>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("RequestExpertEn", "Requests",FormMethod.Post))
        { 
        <div class="col-md-4">
            <div class="form-group">
                @Html.DropDownListFor(x => x.ClientId, new SelectList(Model.Clients, "Key", "Value"), "Select Client", new { @class = "form-control", @data_placeholder = "Choose Status" })
                @Html.ValidationMessageFor(x => x.ClientId)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.DropDownListFor(x => x.ProjectId, new List<SelectListItem>(), "Select Project", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ProjectId)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label><b>Description</b></label>
                <input class="form-control" id="Description" type="text" value="Filled By Requester" disabled>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4">
            <div class="form-group">
                <label><b>Industry</b></label><br>
                <select class="form-control">
                    <option>Option1</option>
                    <option>Option2</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label><b>Bd Lead</b></label>
                @Html.TextBoxFor(x => x.Clients.Values, new { @class = "form-control ", Value =""})
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label><b>Project Lead</b></label>
                <input class="form-control" id="ProjectLead" name="ProjectLead" type="text" value="">
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4">
            <div class="form-group">
                <label><b>Comments</b></label><br>
                <textarea class="form-control" rows="5" id="Comments" style="width: 408px; height: 35px;"></textarea>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label><b>Geography</b></label>
                <select class="form-control">
                    <option>Option1</option>
                    <option>Option2</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label><b>Budget</b></label>
                <input class="form-control" id="Budget" name="Budget" type="text" value="">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div style="padding-top: 7px"></div>
                <br>
                <select class="form-control">
                    <option>USD</option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-3">
            <div class="form-group">
                <label><b>Cost Borne By</b></label><br>
                <select class="form-control">
                    <option>TSC</option>
                    <option>Client</option>
                    <option>TSC+Client</option>
                    <option>Billed in Monday</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>TSC%</b></label>
                <input class="form-control" id="TSC%" name="TSC%" type="text" value="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Client%</b></label>
                <input class="form-control" id="Client%" name="Client%" type="text" value="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Upload Scoping Document*</label>
                        <input class="form-control" data-val="true" data-val-required="Please upload a file." id="ScopingFile" name="ScopingFile" type="file" value="">
                    </div>
                </div>
               
                <div class="col-md-1">
                    <div class="form-group">
                        <div style="padding-top: 9px"></div>
                        <br>
                        <input type="submit" value="Upload" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Upload Approval Document*</label>
                <input class="form-control" data-val="true" data-val-required="Please upload a file." id="ApprovalFile" name="ApprovalFile" type="file" value="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label><b>Unit</b></label><br>
                <input class="form-control" id="Unit" name="Unit" type="text" value="Auto Populated" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div style="padding-top: 9px"></div>
                <br>
                <input type="submit" value="Send Request" class="btn btn-primary">
            </div>
        </div>
        }
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(function () {

            $("#ClientId").change(function () {
                var clientId = $("#ClientId").val();
                if (clientId != "") {
                    $.getJSON("/Requests/GetProjects/" + $("#ClientId").val(), function (data) {
                        var items = "<option value=''>Select Project</option>";


                        $.each(data, function (i, item) {
                            items += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                        });
                        $("#ProjectId").html(items);
                    });
                    $.getJSON("/Requests/GetProjectsBD/" + $("#ClientId").val(), function (data) {
                        var bdLead = "";


                        $.each(data, function (i, bdLead) {
                            bdLead += "<option value='" + bdLead.Id + "'>" + bdLead.Name + "</option>";
                        });
                        $("#Clients_Values").val(bdLead);
                    });

                } else {
                    $("#ProjectId").html("<option value=''>Select Project </option>");
                   
                }
            });


            $("#ProjectId").change(function () {
                $("#ProjectLeadId").html("<option value=''>Select Project Lead</option>");
                $.getJSON("/Requests/GetProjectLeads/" + $("#ProjectId").val(), function (data) {
                    var items = "<option value=''>Select Project Lead</option>";
                    $.each(data, function (i, item) {
                        if (i == 0) {
                            items += "<option selected='selected' value='" + item.EmployeeId + "'>" + item.FullName + "</option>";

                        } else {
                            items += "<option value='" + item.EmployeeId + "'>" + item.FullName + "</option>";
                        }
                    });
                    $("#ProjectLeadId").html(items);
                });
            });
        });


    </script>



}