@model GAPS.TSC.Consillium.Models.ExpertRequestViewModel
@{
    ViewBag.Title = "RequestExpert";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Request Expert (For EN Projects)
        </h3>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("RequestExpert", "Requests", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Client</b></label>
                    @Html.DropDownListFor(x => x.ClientId, new SelectList(Model.Clients, "Key", "Value"), "Select Client", new { @class = "form-control", @data_placeholder = "Choose Status" })
                    @Html.ValidationMessageFor(x => x.ClientId)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Project</b></label>
                    @Html.DropDownListFor(x => x.ProjectId, new List<SelectListItem>(), "Select Project", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ProjectId)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Bd Lead</b></label>
                    @Html.TextBoxFor(x => x.BdLeadId, new { style = "display: none;" })
                    @Html.TextBoxFor(x => x.BdLeadName, new { @class = "form-control ", Value = "" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Project Lead</b></label>
                    @Html.TextBoxFor(x => x.ProjectLeadId, new { style = "display: none;" })
                    @Html.TextBoxFor(x => x.ProjectLeadName, new { @class = "form-control ", Value = "" })
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Unit</b></label><br>
                    @Html.DropDownListFor(x => x.UnitId, new SelectList(Model.Units, "Key", "Value"), "Select Unit", new { @class = "form-control", @data_placeholder = "Choose Unit" })
                    @Html.ValidationMessageFor(x => x.UnitId)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Industry</b></label><br>
                    @Html.DropDownListFor(x => x.IndustryId, new SelectList(Model.Industry, "Key", "Value"), "Select Industry", new { @class = "form-control", @data_placeholder = "Choose Status" })
                    @Html.ValidationMessageFor(x => x.IndustryId)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Geography</b></label>
                    @Html.DropDownListFor(x => x.GeographyId, new SelectList(Model.Geography, "Key", "Value"), "Select Geography", new { @class = "form-control", @data_placeholder = "Choose Status" })
                    @Html.ValidationMessageFor(x => x.GeographyId)
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label><b>Budget</b></label>
                                @Html.TextBoxFor(x => x.BudgetAmount, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div style="padding-top: 7px"></div>
                                <br>
                                @Html.DropDownListFor(x => x.BudgetCurrencyId, new SelectList(Model.Currency, "Key", "Value"), "Currency", new { @class = "form-control", @data_placeholder = "Choose Status" })
                                @Html.ValidationMessageFor(x => x.BudgetCurrencyId)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-3">
                <div class="form-group">
                    <label><b>Cost Borne By</b></label><br>
                    @Html.DropDownListFor(x => x.CostSharingType, new SelectList(Model.CostSharingOptions, "Key", "Value"),
                        new { @class = "form-control", value = Model.CostSharingType, @data_placeholder = "Choose Cost" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><b>TSC%</b></label>
                                @Html.TextBoxFor(x => x.TscShare, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><b>Client%</b></label>
                                @Html.TextBoxFor(x => x.ClientShare, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <label>Upload Scoping Document*</label>
                    @Html.TextBoxFor(x => x.ScopingDocumentFile, new { @class = "form-control", type = "file" })
                    @Html.ValidationMessageFor(x => x.ScopingDocumentFile)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Upload Approval Document</label>
                    @Html.TextBoxFor(x => x.ApprovalDocumentFile, new { @class = "form-control", type = "file" })
                    @Html.ValidationMessageFor(x => x.ApprovalDocumentFile)
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Comments</b></label><br>
                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", value = "" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Description</b></label>
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", value = "" })
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <div style="padding-top: 9px"></div>
                    <br>
                    <input type="submit" value="Send Request" class="btn btn-primary">
                </div>
            </div>
        }
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(function () {

            $("#ClientId").change(function () {
                var clientId = $("#ClientId").val();
                if (clientId != "") {
                    $.getJSON("/Requests/GetProjects/" + $("#ClientId").val(), function (data) {
                        var items = "<option value=''>Select Project</option>";
                        $.each(data, function (i, item) {
                            items += "<option value='" + item.Id + "'>" + item.Name + "</option>";
                        });
                        $("#ProjectId").html(items);
                    });

                    $.getJSON("/Requests/GetProjectsBd/" + $("#ClientId").val(), function (bdLead) {
                        if (bdLead != null) {
                            $("#BdLeadName").val(bdLead.FullName);
                            $("#BdLeadId").val(bdLead.Id);
                        }
                    });


                } else {
                    $("#ProjectId").html("<option value=''>Select Project </option>");
                    $("#BdLeadName").val("");
                    $("#BdLeadId").val("");
                    $("#ProjectLeadName").val("");
                    $("#ProjectLeadId").val("");
                }
            });


            $("#ProjectId").change(function () {
                $.getJSON("/Requests/GetProjectLead/" + $("#ProjectId").val(), function (projectLead) {


                    $("#ProjectLeadName").val(projectLead.FullName);
                    $("#ProjectLeadId").val(projectLead.EmployeeId);

                });
                $.getJSON("/Requests/GetProjectUnit/" + $("#ProjectId").val(), function (unit) {

                    if (unit != null) {
                        $('#UnitId option')
                            .filter(function () { return $.trim($(this).val()) == unit.Id; })
                            .attr('selected', true);
                    }
                });

            });
        });


    </script>
}