@using GAPS.TSC.CONS.Domain
@model GAPS.TSC.Consillium.Models.AddMembersToTeam
@{
    ViewBag.Title = "AddMembers";
}



<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Add Members To Team
        </h3>
    </div>
</div>
@Html.Partial("_PartialMessage")
<hr />

<div class="row">
    <div class="well membersBox">
        <div class="col-md-12">
            @using (@Html.BeginForm("AddMembers", "Employees", FormMethod.Post))
        {

        <div class="col-md-9">
            <div class="form-group">
                <div class="col-md-3">
                    <div class="form-group">
                        <label id="lblEmployeeMemberType"><b>Team Member Type</b></label>
                    </div>
                </div>
                <div class="col-md-2">
                    @Html.RadioButtonFor(x => x.TeamMemberType, "Internal", new { id = "Internal" })<b>Internal</b>
                </div>
                <div class="col-md-3">
                    @Html.RadioButtonFor(x => x.TeamMemberType, "External", new { id = "External" })<b>External</b>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-md-9">
            <div class="col-md-3">
                <div class="form-group">
                    <label id="lblEmployeeId"><b>TSC EmployeeId</b></label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <table>
                        <tr class="tdUserId" id="tdUserId">
                            <td>
                                @Html.DropDownListFor(x => x.UserId, new SelectList(Model.UserOptions, "Key", "Value"), "Select User", new { @class = "form-control"  })
                                @Html.ValidationMessageFor(x => x.UserId)
                            </td>
                        </tr>

                        <tr class="tdName" id="tdName">
                            <td>
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @Value = "" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary">
                </div>
            </div>
    </div>
        <div class="clearfix"></div>
        
        
        }
        </div>

    </div>
</div>
<br />

<div class="row">
    <div class="col-md-8">
        <div class="table-responsive table-bordered">
            <table class="table">
                <tbody>
                    <tr>
                        <th>TSC Employee Code</th>
                        <th><label>Name</label></th>
                        <th><label>TeamMemberType</label></th>
                        <th><label>Status</label></th>
                    </tr>
                    @if (Model.Employees != null)
                    {
                        foreach (var member in Model.Employees)
                         {
                             <tr>
                                 <td>@member.UserId</td>
                                 <td>@member.Name</td>
                                 <td>@member.TeamMemberType</td>
                                 <td>@member.IsActive</td>
                             </tr>
                         }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts
{

    <script type="text/javascript">
        $(document).ready(function() {
            $('#Internal').click(function() {
                if ($(this).is(':checked')) {
                    var value = $(this).val();
                    if (value == "Internal") {
                        $('#lblEmployeeId').text("TSC Employee Id");
                        $('.tdUserId').show();
                        $('.tdName').hide();
                    }
                }
            });

            $('#External').click(function() {
                if ($(this).is(':checked')) {
                    var value = $(this).val();
                    if (value == "External") {
                        $('#lblEmployeeId').text("TSC Employee Name");
                        $('.tdName').show();
                        $('#UserId')[0].selectedIndex = 0;
                        $('.tdUserId').hide();
                        
                    }
                }
            });
        });
        $(".tdName").hide();
    </script>
}
<style>
    .membersBox {
        height: 135px;
        width: 1330px;
    }
    </style >
