@using GAPS.TSC.CONS.Domain
@model GAPS.TSC.Consillium.Models.AddMembersToTeam
@{
    ViewBag.Title = "AddMembers";
}



<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            Add Members To Team
        </h3>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        @using (@Html.BeginForm("AddMembers", "Employees", FormMethod.Post))
        {

            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.TeamMemberType, "Internal", new { id = "Internal" })<b>Internal</b>
                    </div>
                    <div class="col-md-3">
                        @Html.RadioButtonFor(x => x.TeamMemberType, "External", new { id = "External" })<b>External</b>
                        </div>
                    </div>
            </div>
            <div class="clearfix"></div>
            <br/>
            <div class="col-md-8">
                <div class="col-md-3">
                    <div class="form-group">
                            <label id ="lblEmployeeId"><b>TSC EmployeeId</b></label>
                    </div>
                   
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <table>
                            <tr class="tdUserId" id="tdUserId" >
                                <td>@Html.TextBoxFor(x => x.UserId, new { @class = "form-control ", @Value = "" })</td>
                            </tr>
                            
                            <tr class="tdName" id="tdName">
                                <td>@Html.TextBoxFor(x => x.Name, new { @class = "form-control ", @Value = "" })</td>
                            </tr>
                        </table>
                       
                    </div>
                </div>
                </div>
            <div class="clearfix"></div>
            @*<div class="col-md-2">
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Admin Rights</label>
                    </div>
                </div>
            </div>*@
            <div class="clearfix"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary">
                </div>
            </div>
        }
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-5">
        <div class="table-responsive table-bordered">
            <table class="table">
                <tbody>
                    <tr>
                        <th>TSC Employee Code</th>
                        <th><label>Name</label></th>
                        <th><label>Admin Rights</label></th>
                        <th><label>Action</label></th>
                    </tr>
                    @if (Model.Employees != null)
                    {
                        foreach (var member in Model.Employees)
                         {
                             <tr>
                                 <td>@member.UserId</td>
                                 <td>@member.Name</td>
                                 <td>@member.TeamMemberType</td>
                             </tr>
                         }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts
{

    <script type="text/javascript">
        $(document).ready(function() {
            $('#Internal').click(function() {
                if ($(this).is(':checked')) {
                    var value = $(this).val();
                    if (value == "Internal") {
                        $('#lblEmployeeId').text("TSC Employee Id");
                        $('.tdUserId').show();
                        $('.tdName').hide();
                    }
                }
            });

            $('#External').click(function() {
                if ($(this).is(':checked')) {
                    var value = $(this).val();
                    if (value == "External") {
                        $('#lblEmployeeId').text("TSC Employee Name");
                        $('.tdName').show();
                        $('.tdUserId').hide();
                    }
                }
            });
        });
        $(".tdName").hide();
    </script>
}