@model GAPS.TSC.Consillium.Models.ExpertDashboardViewModel

@{
    ViewBag.Title = "ExpertsDasboard";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">
            View all Expert/Search/Assign
        </h3>
    </div>
</div>

<hr />
<div class="row well">
    <div class="col-md-12">
        @using (@Html.BeginForm("Index", "Employees", FormMethod.Get))
        {
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Search</b></label>
                    @Html.TextBoxFor(x => x.SearchString, new { @class = "form-control ", Value = "" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Industry</b></label><br>
                    @Html.DropDownListFor(x => x.IndustryId, new SelectList(Model.IndustryList, "key", "value"), "All", new { @class = "form-control", @data_placeholder = "Choose Industry" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Geographic</b></label><br>
                    @Html.DropDownListFor(x => x.GeographicId, new SelectList(Model.GeographicList, "key", "value"), "All", new { @class = "form-control", @data_placeholder = "choose Geograpic" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label><b>Project Name</b></label><br>
                    @Html.DropDownListFor(x => x.ProjectName, new SelectList(Model.ProjectList, "key", "value"), "All", new { @class = "form-control", @data_placeholder = "choose Project" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        <b>
                            Client Name
                        </b>
                    </label><br>
                    @Html.DropDownListFor(x => x.ClientName, new SelectList(Model.ClientList, "key", "value"), "All", new { @class = "form-control", @data_placeholder = "choose Client" })
                </div>
            </div>

            <div class="col-md-1 filterExport">
                <div class="form-group">
                    <input type="submit" value="Filter" class="btn btn-primary">
                </div>
            </div>
            <div class="col-md-2 filterExport">
                <div class="form-group">
                    <input type="submit" value="Export To Excel" class="btn btn-primary">
                </div>
            </div>

        }
    </div>
</div>
<br />
<div class="row">
    @Html.Partial("_PartialMessage")
    @using (@Html.BeginForm("AddExpertToRequest", "Employees", FormMethod.Post))
    {
        <div class="col-lg-12">
            <div class="col-md-9">
                <h3>Experts </h3>
                <div class="table-responsive table-bordered">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Select Expert</th>
                                <th><label>Name</label></th>
                                <th><label>Current Company</label></th>
                                <th><label>E-Mail-Id</label></th>
                                <th><label>Industry</label></th>
                                <th><label>Geography</label></th>
                                <th></th>
                            </tr>
                            @{
                                int i = 0;
                            }
                            @foreach (var expert in Model.Experts)
                            {
                                <tr>
                                    <td>
                                        @*@Html.CheckBoxFor(m => m.Check, new { @checked = "checked", @class = "AllChecked", @value = expert.Id })*@
                                        <input type="checkbox" name="Expert[]" value="@expert.Id" />

                                    </td>


                                    <td>@expert.Name</td>
                                    <td>@Model.ToAddOrganisations.ElementAtOrDefault(i)</td>
                                    <td>@expert.Email</td>
                                    <td>
                                        @if (expert.IndustryId != null && Model.IndustryList.ContainsKey(expert.IndustryId.Value))
                                        {
                                            @Model.IndustryList[expert.IndustryId.Value]
                                        }
                                    </td>
                                    <td>
                                        @if (expert.GeographicId != null && Model.GeographicList.ContainsKey(expert.GeographicId.Value))
                                        {
                                            @Model.GeographicList[expert.GeographicId.Value]
                                        }
                                    </td>

                                   
                                    <td><input type="submit" class="btn btn-primary" value="Detail" style="width: 99px;" onclick="location.href='@Url.Action("ProfileView", "Employees", new { id = expert.Id })' " /></td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <br />
        <div class="row">

            <div class="col-md-8">

                <div class="col-md-2 addtitle">
                    <div class="form-group">
                        <label><b>Add To Project</b></label>

                    </div>
                </div>
                <div class="row col-md-6 addProjectTitle">
                    <div class="form-group">
                        @Html.DropDownListFor(x => x.RequestId, new SelectList(Model.ExpertRequestlist, "key", "value"), "All", new { @class = "form-control", @data_placeholder = "Choose Expert Request" })
                        @Html.ValidationMessageFor(x => x.RequestId)
                    </div>
                </div>
                <div class="col-md-1 addProjectMap">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary">
                    </div>
                </div>

            </div>

        </div>
    }
</div>
@section scripts
{

    <script type="text/javascript">
        $(document).ready(function () {




            $('.AllChecked').on('change', function () {
                var matches = []; $(".AllChecked:checked").each(function () {
                    matches.push(this.value);

                });
                console.log(matches);

            });


            //$("#ExpertId").change(function () {
            //    var expertId = $("#ExpertId").val();
            //    var expertReqId = $("#ExpertRequestId").val();
            //    if (expertId != "") {

            //        $.getJSON("/Requests/GetHonorarium/", { expertReqId: expertReqId, expertId: expertId }, function (data) {
            //            $("#FeesPerHour").val(data.FeesAmount);
            //            if (data.FeesCurrencyId != null) {
            //                $('#AmountCurrencyId option')
            //                    .filter(function () { return $.trim($(this).val()) == data.FeesCurrencyId; })
            //                    .attr('selected', true);
            //            }
            //        });
            //    }

            //});

        });
    </script>
}
<style>
    .addtitle {
        margin-top: 44px;
    }


    .addProjectTitle {
        margin-top: 38px;
    }

    .addProjectMap {
        margin-top: 37px;
        margin-left: 22px;
    }

    .filterExport {
        margin-top: 24px;
    }
</style>